.link-style {
    text-decoration: none;
    color: #686868; 
    width: 200px;
}

/* .link-style span{
    padding: 2px 8px;
} */
.link-style:hover span{
    background-color: #2469ff; /* 배경 색상 설정 */
    padding: 2px 8px; /* 숫자 주변에 여백 추가 (선택사항) */
    border-radius: 3px; /* 모서리를 둥글게 만듭니다. */
    color: #ffffff; 
    font-weight: bold;
}

.link-style:hover{
    color: #000000; 
    font-weight: bold;
}

.list-style {
    width: 300px;
    margin: 30px 0px 0px 0px;
}

div.list-group-item{
    height: 50px;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
}

.list-card{
    background-color: #f7f8fa;
    border: none;
    font-weight: bold;
}

.link-without-underline {
    text-decoration: none; 
    color: inherit; 
  }