.link-style {
    text-decoration: none;
    color: #686868; 
    /* width: 200px; */
}

/* .link-style span{
    padding: 2px 8px;
} */
.link-style:hover span{
    background-color: #cb2b11; /* 배경 색상 설정 */
    padding: 2px 8px; /* 숫자 주변에 여백 추가 (선택사항) */
    border-radius: 3px; /* 모서리를 둥글게 만듭니다. */
    color: #ffffff; 
    font-weight: bold;
}

.link-style:hover{
    color: #000000; 
    font-weight: bold;
}

.list-style {
    width: 300px;
    margin: 30px 0px 0px 0px;
}

div.list-group-item{
    height: 50px;
    display: flex;
    /* align-items: center; */
    border: none;
    background-color: transparent;
}

.list-card{
    height : 40vh;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
}

.link-without-underline {
    text-decoration: none; 
    color: inherit; 
  }

.btn:hover{
    color:#fff;
}

.input-text:focus{
    box-shadow: 0px 0px 0px;
    outline: 0px;
}

.form-control {
    border: 1px solid ;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

