/* Navigation.css */

.custom-nav {
  margin-right: 30px; 
}

.custom-nav:last-child {
  margin-right: 0; 
}

@media (min-width: 992px) {
  .custom-nav {
    margin-right: 24px; 
  }
}

.navbar-brand {
  margin-right: 120px; 
}

@media (max-width: 768px) {
  .navbar-brand {
    margin-right: 0; 
  }
}
